# =============================================================================
# Обязательные
# =============================================================================

# URL бэкенда, например: http://192.168.1.2:2999
VITE_API_URL=http://192.168.1.2:2999

# =============================================================================
# Обязательные для виджетов погоды (info, schedule)
# без них в коде подставятся lat/lon = 0 и пустой title
# =============================================================================

# Название локации для отображения
VITE_SCHEDULE_LOCATION_TITLE="Городово"

# Координаты для запроса погоды
VITE_SCHEDULE_LOCATION_LAT="35.152072"
VITE_SCHEDULE_LOCATION_LON="57.617507"
