@import "tailwindcss";

@theme {
  --breakpoint-4k: 125rem;
  --breakpoint-2x4k: 220rem;
}

@media (min-width: 125rem) and (orientation: portrait) {
  .feed-grid {
    grid-template-columns: 1fr !important;
    grid-auto-rows: 1fr;
  }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme="light"] {
  --hue: 220;

  --background: hsl(var(--hue), 20%, 78%);
  --text: hsl(var(--hue), 35%, 15%);
  --card-bg: hsl(var(--hue), 40%, 100%);
  --card-text: hsl(var(--hue), 35%, 15%);
  --category-text: hsl(var(--hue), 20%, 60%);
  --description-text: hsl(var(--hue), 25%, 35%);
  --meta-text: hsl(var(--hue), 25%, 70%);
  --button-bg: hsl(var(--hue), 30%, 90%);
  --button-text: hsl(var(--hue), 35%, 15%);
  --button-hover-bg: hsl(var(--hue), 30%, 85%);
  --border: hsl(var(--hue), 25%, 60%);
}

[data-theme="dark"] {
  --hue: 220;

  --background: hsl(var(--hue), 30%, 10%);
  --text: hsl(var(--hue), 35%, 90%);
  --card-bg: hsl(var(--hue), 25%, 15%);
  --card-text: hsl(var(--hue), 35%, 90%);
  --category-text: hsl(var(--hue), 20%, 70%);
  --description-text: hsl(var(--hue), 25%, 80%);
  --meta-text: hsl(var(--hue), 15%, 60%);
  --button-bg: hsl(var(--hue), 25%, 20%);
  --button-text: hsl(var(--hue), 35%, 90%);
  --button-hover-bg: hsl(var(--hue), 25%, 30%);
  --border: hsl(var(--hue), 20%, 40%);
}

[data-theme="sepia"] {
  --hue: 30;

  --background: hsl(var(--hue), 30%, 10%);   
  --text: hsl(var(--hue), 35%, 90%);
  --card-bg: hsl(var(--hue), 25%, 15%);
  --card-text: hsl(var(--hue), 35%, 90%);
  --category-text: hsl(var(--hue), 60%, 60%);
  --description-text: hsl(var(--hue), 45%, 75%);
  --meta-text: hsl(var(--hue), 40%, 55%);
  --button-bg: hsl(var(--hue), 55%, 25%);
  --button-text: hsl(var(--hue), 35%, 90%);
  --button-hover-bg: hsl(var(--hue), 55%, 35%);
  --border: hsl(var(--hue), 45%, 50%);
}

[data-theme="blue"] {
  --hue: 220;

  --background: hsl(var(--hue), 30%, 10%);
  --text: hsl(var(--hue), 35%, 90%);
  --card-bg: hsl(var(--hue), 25%, 15%);
  --card-text: hsl(var(--hue), 35%, 90%);
  --category-text: hsl(var(--hue), 60%, 60%);
  --description-text: hsl(var(--hue), 45%, 75%);
  --meta-text: hsl(var(--hue), 40%, 55%);
  --button-bg: hsl(var(--hue), 55%, 25%);
  --button-text: hsl(var(--hue), 35%, 90%);
  --button-hover-bg: hsl(var(--hue), 55%, 35%);
  --border: hsl(var(--hue), 45%, 50%);
}


[data-theme="green"] {
  --hue: 160;

  --background: hsl(var(--hue), 30%, 10%);
  --text: hsl(var(--hue), 35%, 90%);
  --card-bg: hsl(var(--hue), 25%, 15%);
  --card-text: hsl(var(--hue), 35%, 90%);
  --category-text: hsl(var(--hue), 50%, 60%);
  --description-text: hsl(var(--hue), 40%, 75%);
  --meta-text: hsl(var(--hue), 35%, 50%);
  --button-bg: hsl(var(--hue), 45%, 25%);
  --button-text: hsl(var(--hue), 35%, 90%);
  --button-hover-bg: hsl(var(--hue), 45%, 35%);
  --border: hsl(var(--hue), 45%, 50%);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background);
  color: var(--text);
  font-family: 'Inter', sans-serif;
}

@keyframes scroll-diagonal-switch {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 120px 120px;
  }
  100% {
    background-position: 0 240px;
  }
}

@keyframes fade-in-out {
  0% { opacity: 0; }
  20% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; }
}